# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments (Virtual Environments)
.venv/
venv/
ENV/
env/

# Operating System Files
Thumbs.db
.DS_Store

# IDEs and Editors
.vscode/
.idea/
